*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
}  
/* navbar */
.header{
    width: 100%;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.logo{
    display: flex;
    align-items: center;
    width: 20%;
    cursor: pointer;
}
img{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

h4{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
input{
   width: 700px; 
   padding: 10px;
   background-color: #e9ecef;
   border: none;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   outline: none;
}


.search{
    background-color: #e9ecef;
    padding: 10px 0px 10px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: gray;
}
.icon{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* content */

.main {
    width: 100%;
}

.content{
    width: 720px;
    margin: 0 auto;
}

.profile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-show-downloaded {
    width: 100%; 
}

.box-downloaded1{
    margin-top: 20px;
}

.box-downloaded
{
    width: 100%;
    margin-top: 30px;
}
.detail-downloaded{
    width: 100%;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 1px rgb(203, 208, 210);
    overflow: hidden;
}

.img
{
    width: 13%;
    border-right: 1px solid rgb(203, 208, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.description{
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 30px;
}
.title-description{
    width: 93%;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
} 
.title{
    color: grey;
    font-size: 14px;
}
.link{
    color: blue;
    font-size: 16px;
}

.fa-ellipsis-vertical{
    
    padding: 10px 15px;
    border-radius: 50px;
}

.fa-ellipsis-vertical:hover{
    background-color: rgb(204, 204, 216);
    transition: ease-in-out 0.3s;
}

/* button modal */
.modal{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.fa-closed-captioning{
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.wrapper{
    margin: 150px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 35%;
    position: relative;
    transition: all 5s ease-in-out;
    overflow: hidden;
}

.wrapper .close{
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapper h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.one-row{
    margin-top: 30px;

}

.one-row label{
    font-weight: 500;
    margin-left: 10px;

}

.one-row .divCol{
    margin-left: 20px;
    width: 420px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 13px;
    background-color: rgb(207, 206, 206);
}

.btn {
    display: flex;
    justify-content: end;
}

button{
   
    padding: 10px 20px;
    background-color: rgba(56, 56, 243, 0.944);
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: blue;
}

.one-row .divCol1{
    margin-left: 20px;
    width: 415px;
    border-radius: 30px;
    padding: 0px;
    outline: none;
    background: #cababa;
}

::-webkit-file-upload-button{
    color: rgb(255, 255, 255);
    background-color: #16b396;
    padding: 15px;
    border: none;
    border-radius: 50px;
}